/****************
SASS VARIABLES
*****************/
/* FONT SIZES */
/* End of font sizes */
/* nav footer color */
/****************
SASS @MIXINs
*****************/
/******************
GLOBAL CSS
*******************/
body {
  font: 100% "Open Sans", sans-serif;
  color: #1e1e1e;
  font-size: 16px; }

a {
  text-decoration: none; }

.date {
  text-transform: uppercase; }

/******************
NAVIGATION
*******************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: #b5a484;
  background-color: #1e1e1e;
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    nav {
      font-size: 12px; } }
  @media screen and (min-width: 600px) {
    nav {
      font-size: 13px; } }
  @media screen and (min-width: 1000px) {
    nav {
      font-size: 13px; } }
  nav p {
    margin: 0;
    padding: 2px 0;
    background-color: #b5a484;
    color: #1e1e1e;
    text-align: center;
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      nav p {
        font-size: 12px; } }
    @media screen and (min-width: 600px) {
      nav p {
        font-size: 13px; } }
    @media screen and (min-width: 1000px) {
      nav p {
        font-size: 13px; } }
  nav button {
    color: #b5a484;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #b5a484;
    padding: 10px 14px 10px 20px;
    letter-spacing: 3px;
    font-size: 11px; }
    @media screen and (min-width: 320px) {
      nav button {
        font-size: 11px; } }
    @media screen and (min-width: 600px) {
      nav button {
        font-size: 13px; } }
    @media screen and (min-width: 1000px) {
      nav button {
        font-size: 14px; } }

.nav__content {
  padding: 17px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.nav__socialContainer a {
  color: #b5a484;
  font-size: 28px;
  padding-left: 15px; }

/******************
END OF NAV
*******************/
/******************
HEADER
*******************/
header {
  margin-top: 90px;
  width: 100%; }

.jumbotron__content {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #b5a484 url("../assets/images/www.knobcreek.com-1293609732325191.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat; }

.jumbotron__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: 90vh;
  width: 90%;
  overflow: hidden; }

.jumbotron__main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #FFF;
  height: 100%;
  width: 100%; }
  .jumbotron__main-info h1 {
    padding-left: 15%;
    font-weight: normal;
    font-size: 35px;
    line-height: 1;
    margin: 0; }
    @media screen and (min-width: 320px) {
      .jumbotron__main-info h1 {
        font-size: 35px; } }
    @media screen and (min-width: 600px) {
      .jumbotron__main-info h1 {
        font-size: 60px; } }
    @media screen and (min-width: 1000px) {
      .jumbotron__main-info h1 {
        font-size: 70px; } }
  .jumbotron__main-info p {
    padding-left: 15%;
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      .jumbotron__main-info p {
        font-size: 14px; } }
    @media screen and (min-width: 600px) {
      .jumbotron__main-info p {
        font-size: 15px; } }
    @media screen and (min-width: 1000px) {
      .jumbotron__main-info p {
        font-size: 16px; } }

.bourbon--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 2.5%; }
  .bourbon--img img {
    width: 60%; }

.jumbotron__sub-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; }

.jumbotron__recent {
  width: 90%;
  background-color: #FFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%; }

.article--img {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden; }
  .article--img img {
    width: 100%; }

.jumbotron__articles {
  width: 38%;
  padding: 6%; }

.jumbotron-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center; }
  .jumbotron-article h3 {
    font-weight: normal;
    font-size: 18px;
    margin: 2px 0;
    margin: 0 10% 2%; }
    @media screen and (min-width: 320px) {
      .jumbotron-article h3 {
        font-size: 18px; } }
    @media screen and (min-width: 600px) {
      .jumbotron-article h3 {
        font-size: 21px; } }
    @media screen and (min-width: 1000px) {
      .jumbotron-article h3 {
        font-size: 28px; } }
  .jumbotron-article p {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      .jumbotron-article p {
        font-size: 14px; } }
    @media screen and (min-width: 600px) {
      .jumbotron-article p {
        font-size: 15px; } }
    @media screen and (min-width: 1000px) {
      .jumbotron-article p {
        font-size: 16px; } }
  .jumbotron-article a {
    color: #bd3131; }
  .jumbotron-article .icon {
    width: 35px; }

/******************
END OF HEADER
*******************/
/******************
MAIN
*******************/
main {
  width: 100%; }

.main__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .main__container h2 {
    font-size: 19px;
    font-weight: normal;
    margin: 40px; }
    @media screen and (min-width: 320px) {
      .main__container h2 {
        font-size: 19px; } }
    @media screen and (min-width: 600px) {
      .main__container h2 {
        font-size: 35px; } }
    @media screen and (min-width: 1000px) {
      .main__container h2 {
        font-size: 35px; } }

.articles {
  width: 90%;
  margin: 0 5% 40px 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.article {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 2%;
  padding-bottom: 30px;
  background-color: #F3F1ED; }
  .article h3 {
    font-weight: normal;
    font-size: 17px;
    margin: 0px;
    margin: 0 10% 2%; }
    @media screen and (min-width: 320px) {
      .article h3 {
        font-size: 17px; } }
    @media screen and (min-width: 600px) {
      .article h3 {
        font-size: 18px; } }
    @media screen and (min-width: 1000px) {
      .article h3 {
        font-size: 24px; } }
  .article p {
    margin: 7px 0;
    line-height: 1.5;
    font-size: 14px; }
    @media screen and (min-width: 320px) {
      .article p {
        font-size: 14px; } }
    @media screen and (min-width: 600px) {
      .article p {
        font-size: 15px; } }
    @media screen and (min-width: 1000px) {
      .article p {
        font-size: 16px; } }
  .article a {
    color: #bd3131; }
  .article .icon--img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    background-color: #F3F1ED;
    border-radius: 50%; }
  .article .icon {
    width: 25px; }

.article__img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative; }
  .article__img img {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: -25px; }
  .article__img .article--1 {
    position: absolute;
    max-height: 115%;
    top: 0;
    right: 0; }
  .article__img .thin--img {
    right: 0; }
  .article__img .center--img {
    left: -150px; }

/******************
END OF MAIN
*******************/
/******************
FOOTER
*******************/
footer {
  width: 100%;
  color: #b5a484;
  background-color: #1e1e1e;
  font-size: 12px; }
  @media screen and (min-width: 320px) {
    footer {
      font-size: 12px; } }
  @media screen and (min-width: 600px) {
    footer {
      font-size: 13px; } }
  @media screen and (min-width: 1000px) {
    footer {
      font-size: 13px; } }
  footer p {
    margin: 0;
    padding: 2px 0;
    background-color: #b5a484;
    color: #1e1e1e;
    text-align: center;
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      footer p {
        font-size: 12px; } }
    @media screen and (min-width: 600px) {
      footer p {
        font-size: 13px; } }
    @media screen and (min-width: 1000px) {
      footer p {
        font-size: 13px; } }
  footer button {
    color: #b5a484;
    background-color: transparent;
    border-radius: 0;
    border: 2px solid #b5a484;
    padding: 10px 14px 10px 20px;
    letter-spacing: 3px;
    font-size: 11px; }
    @media screen and (min-width: 320px) {
      footer button {
        font-size: 11px; } }
    @media screen and (min-width: 600px) {
      footer button {
        font-size: 13px; } }
    @media screen and (min-width: 1000px) {
      footer button {
        font-size: 14px; } }

.footer__content {
  padding: 17px 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footer__socialContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .footer__socialContainer p {
    background: transparent;
    color: #b5a484; }
  .footer__socialContainer a {
    color: #b5a484;
    font-size: 28px;
    padding-left: 15px; }

/******************
END OF FOOTER
*******************/
/******************\
HOVERS
*******************/
.article:hover {
  background-color: #1e1e1e;
  color: #F3F1ED; }
  .article:hover .icon--img {
    background-color: #1e1e1e; }

/******************\
END OF HOVERS
*******************/
/******************
MEDIA QUERIES
*******************/
@media (max-width: 750px) {
  .jumbotron__content {
    background-size: auto; }

  .jumbotron__main {
    flex-direction: column;
    height: inherit;
    width: 100%; }

  .jumbotron__main-info {
    text-align: center;
    align-items: center;
    margin: 75px 0 20px 0; }
    .jumbotron__main-info h1 {
      padding: 0 20%; }
    .jumbotron__main-info p {
      padding: 0 10%;
      line-height: 1.75; }

  .jumbotron__recent {
    flex-direction: column; }
    .jumbotron__recent .article--img {
      width: 100%;
      max-height: 125px;
      overflow: hidden;
      position: relative; }
      .jumbotron__recent .article--img img {
        position: absolute;
        top: -150px; }
    .jumbotron__recent .jumbotron__articles {
      width: 80%; }

  .bourbon--img img {
    width: 250px; }

  .jumbotron__sub-info {
    margin-top: -200px; }

  .article {
    width: 48%; }

  .article:last-child {
    display: none; } }
/*********************
END OF MEDIA QUERIES
**********************/

/*# sourceMappingURL=main.css.map */
