/****************
SASS VARIABLES
*****************/
$font-stack: 'Open Sans', sans-serif;

/* FONT SIZES */
// Responsive Typography With SASS Maps, Thank you Jonathan Suh
// https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
$breakpoints: (
  small : 320px,
  medium : 600px,
  large : 1000px
);
$primary-p: (
  null  : 14px,
  small : 14px,
  medium : 15px,
  large : 16px
);
$secondary-p: (
  null  : 12px,
  small : 12px,
  medium : 13px,
  large : 13px
);
$main-title: (
  null  : 35px,
  small  : 35px,
  medium  : 60px,
  large  : 70px
);
$main-heading: (
  null  : 19px,
  small  : 19px,
  medium  : 35px,
  large  : 35px
);
$subheading: (
  null  : 18px,
  small  : 18px,
  medium  : 21px,
  large  : 28px
);
$subheading-2: (
  null  : 17px,
  small  : 17px,
  medium  : 18px,
  large  : 24px
);
$button-type: (
  null  : 11px,
  small  : 11px,
  medium  : 13px,
  large  : 14px
);
/* End of font sizes */

$primary-color: #1e1e1e;
/* nav footer color */
$tan-gold: #b5a484;
$tan-grey: #F3F1ED;
$jumbotron-article: ($subheading, 2px 0);
$general-article: ($subheading-2, 0px);

/****************
SASS @MIXINs
*****************/
// General Flex
@mixin flex-display($display, $direction, $justify, $align) {
  display: $display;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

// Responsive Typography With SASS Maps, Thank you Jonathan Suh
// https://www.smashingmagazine.com/2015/06/responsive-typography-with-sass-maps/
@mixin font-size($fs-map, $fs-breakpoints: $breakpoints) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @if map-has-key($fs-breakpoints, $fs-breakpoint) {
        $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
      }
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

// Article mixin
@mixin article($fs, $margin) {
  @include font-size($fs);
  margin: $margin;
}

/******************
GLOBAL CSS
*******************/
body {
  font: 100% $font-stack;
  color: $primary-color;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.date {
  text-transform: uppercase;
}

/******************
NAVIGATION
*******************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  color: $tan-gold;
  background-color: $primary-color;
  @include font-size($secondary-p);
  p {
    margin: 0;
    padding: 2px 0;
    background-color: $tan-gold;
    color: $primary-color;
    text-align: center;
    @include font-size($secondary-p);
  }
  button {
    color: $tan-gold;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border: 2px solid $tan-gold;
    padding: 10px 14px 10px 20px;
    letter-spacing: 3px;
    @include font-size($button-type);
  }
}

.nav__content {
  padding: 17px 35px;
  @include flex-display(flex, row, space-between, center);
}

.nav__socialContainer {
  a {
    color: $tan-gold;
    font-size: 28px;
    padding-left: 15px;
  }
}
/******************
END OF NAV
*******************/


/******************
HEADER
*******************/
header {
  margin-top: 90px;
  width: 100%;
}

.jumbotron__content {
  width: 100%;
  position: relative;
  @include flex-display(flex, column, center, center);
  background: $tan-gold url("../assets/images/www.knobcreek.com-1293609732325191.jpg");
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.jumbotron__main {
  @include flex-display(flex, row, center, flex-start);
  height: 90vh;
  width: 90%;
  overflow: hidden;
}

.jumbotron__main-info {
  @include flex-display(flex, column, center, flex-start);
  color: #FFF;
  height: 100%;
  width: 100%;
  h1 {
    padding-left: 15%;
    font-weight: normal;
    @include font-size($main-title);
    line-height: 1;
    margin: 0;
  }
  p {
    padding-left: 15%;
    @include font-size($primary-p);
  }
}

.bourbon--img {
  @include flex-display(flex, column, center, center);
  width: 100%;
  padding-top: 2.5%;
  img {
    width: 60%;
  }
}

.jumbotron__sub-info {
  @include flex-display(flex, column, center, center);
  width: 100%;
}

.jumbotron__recent {
  width: 90%;
  background-color: #FFF;
  @include flex-display(flex, row, center, center);
  margin-bottom: 5%;
}

.article--img {
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  img {
    width: 100%;
  }
}

.jumbotron__articles {
  width: 38%;
  padding: 6%;
}

.jumbotron-article {
  @include flex-display(flex, column, center, center);
  width: 100%;
  text-align: center;
  h3 {
    font-weight: normal;
    @include article($jumbotron-article...);
    margin: 0 10% 2%;
  }
  p {
    margin: 7px 0;
    line-height: 1.5;
    @include font-size($primary-p);
  }
  a {
    color: #bd3131;
  }
  .icon {
    width: 35px;
  }
}

/******************
END OF HEADER
*******************/

/******************
MAIN
*******************/
main {
  width: 100%;
}

.main__container {
  width: 100%;
  @include flex-display(flex, column, center, center);
  h2 {
    @include font-size($main-heading);
    font-weight: normal;
    margin: 40px;
  }
}

.articles {
  width: 90%;
  margin: 0 5% 40px 5%;
  @include flex-display(flex, row, space-between, center);
  flex-wrap: wrap;
}

.article {
  width: 32%;
  @include flex-display(flex, column, center, center);
  text-align: center;
  margin-bottom: 2%;
  padding-bottom: 30px;
  background-color: $tan-grey;
  h3 {
    font-weight: normal;
    @include article($general-article...);
    margin: 0 10% 2%;
  }
  p {
    margin: 7px 0;
    line-height: 1.5;
    @include font-size($primary-p);
  }
  a {
    color: #bd3131;
  }
  .icon--img {
    @include flex-display(flex, column, center, center);
    width: 50px;
    height: 50px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
    background-color: $tan-grey;
    border-radius: 50%;
  }
  .icon {
    width: 25px;
  }
}

// .article::nth-child(n + 4) {
//   order: 1;
// }

.article__img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  position: relative;
  img {
    min-width: 100%;
    max-height: 100%;
    position: absolute;
    top: 0;
    right: -25px;
  }

  // with more time would refactor with image size swtich statements mixins
  .article--1 {
    position: absolute;
    max-height: 115%;
    top: 0;
    right: 0;
  }
  .thin--img {
    right: 0;
  }
  .center--img {
    left: -150px;
  }
}
/******************
END OF MAIN
*******************/


/******************
FOOTER
*******************/
footer {
  width: 100%;
  color: $tan-gold;
  background-color: $primary-color;
  @include font-size($secondary-p);
  p {
    margin: 0;
    padding: 2px 0;
    background-color: $tan-gold;
    color: $primary-color;
    text-align: center;
    @include font-size($secondary-p);
  }
  button {
    color: $tan-gold;
    background-color: rgba(0,0,0,0);
    border-radius: 0;
    border: 2px solid $tan-gold;
    padding: 10px 14px 10px 20px;
    letter-spacing: 3px;
    @include font-size($button-type);
  }
}

.footer__content {
  padding: 17px 35px;
  @include flex-display(flex, row, space-between, center);
}

.footer__socialContainer {
  @include flex-display(flex, row, center, center);
  p {
    background: rgba(0,0,0,0);
    color: $tan-gold;

  }
  a {
    color: $tan-gold;
    font-size: 28px;
    padding-left: 15px;
  }
}
/******************
END OF FOOTER
*******************/

/******************\
HOVERS
*******************/

.article:hover {
  background-color: $primary-color;
  color: $tan-grey;
  .icon--img {
    background-color: $primary-color;
  }
}

/******************\
END OF HOVERS
*******************/

/******************
MEDIA QUERIES
*******************/
@media (max-width: 750px) {
  // happy to discuss but after innitial layout was completed breakpoint
  // was successful at 750px

  .jumbotron__content {
    background-size:auto;
  }

  .jumbotron__main {
    flex-direction: column;
    height: inherit;
    width: 100%;
  }

  .jumbotron__main-info {
    text-align: center;
    align-items: center;
    margin: 75px 0 20px 0;
    h1 {
      padding: 0 20%;;
    }
    p {
      padding: 0 10%;
      line-height: 1.75;
    }
  }

  .jumbotron__recent {
    flex-direction: column;
    .article--img {
      width: 100%;
      max-height: 125px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        top: -150px;
      }
    }
    .jumbotron__articles {
      width: 80%;
    }
  }

  .bourbon--img  img {
    width: 250px;
  }

  .jumbotron__sub-info {
    margin-top: -200px;
  }

  .article {
    width: 48%;
  }

  .article:last-child {
    display: none;
  }
}

/*********************
END OF MEDIA QUERIES
**********************/
